#container{
    display: grid;
    height: 600px;
    width: 600px;
    border: 2px solid #000;
    position:absolute;
    left:20%;
    top:20%;
    
}
#grid{
    border:1px solid #000;
}

#nav{
    display:flex;
    width: 600px;
    justify-content: center;
    height: 50px;
    padding-bottom: 20px;
    padding-top:20px;
    position:absolute;
    left:20%;
    top:5%;
}
